body {
    background-color: black;
    font-family: "Varela", sans-serif, "Century Schoolbook L";
    color: antiquewhite;
}

body > section {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 12px;
}

#header {
    background: url("../images/2012-08-30_pano_gdansk_sm2.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#header div {
    position: relative;
}

#header button {
    font-variant: small-caps;
    font-size: 1.2em;
    padding: 20px;
    margin: auto;
    display: block;
    margin-top: 120px;
    border: 2px solid antiquewhite inset;
    color: antiquewhite;
    background-color: transparent;
    transition: 1.5s border;
}

#header button:hover {
    opacity: 1;
    background-color: #031138;
    border: 2px solid transparent;
    cursor: pointer;
}

#menu {
    height: 100px;
}

#menu a {
    color: antiquewhite;
}

.menu-container {
    text-align: center;
    border: 1px antiquewhite solid;
}

.menu-container li {
    display: inline-block;
    padding-right: 5px;
}

.menu-container li:last-child {
    padding-right: 0px;
}

.menu-container li span {
    padding-left: 4px;
}

.menu-container li span:hover {
    text-decoration: underline;
}

.menu-container ul {
    padding: 16px;
    margin: 0px;
}

a {
	text-decoration: none;
	opacity: 0.8;
}

a:visited {
    color: rgb(220, 240, 243);
}

a:hover {
	 opacity: 1;
}

#portfolio_templates a {
    opacity: 1;
}

.special {
	 font-variant: small-caps;
}

#links, #portfolio {
    min-height: 100px;
}

#links a, #portfolio a {
    display: block;
    padding-bottom: auto;
    padding-top: auto;
    margin-bottom: 3px;
}

#links div {
	height: 32px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

#links span {
    animation: blinker 1s linear infinite;
}
  
 @keyframes blinker {  
    50% { opacity: 0; }
}

#portfolio_templates img {
    width: 100%;
}

#portfolio_other img, #links img {
	height: 32px;
	width: 32px;
	padding-right: 4px;
}

.planned {
    padding-top: 25px;
}

h1, h2 {
    text-align: center;
    margin: auto;
}

h1 {
    border-bottom: 1px solid antiquewhite;
}

#footer {
    min-height: 80px;
    padding-top: 20px;
    text-align: center;
}

form {
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block; 
    padding: 20px 25px 20px 20px; 
}

form div {
    display: flex;
    flex-direction: column;
}

form div * {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 3px;
}

textarea {
    min-width: 245px;
    min-height: 200px;
}

input[type="antibot"] {
    display: none;
}

@media only screen and (max-width: 768px) {
	 	 
	#menu {
		height: auto;	 
	}	 
	 
	.title, .menu-container {
		margin: 0 auto;
		display: block;
		float: none;
		margin-bottom: 10px;
    }

    #about {
        margin-top: 50px;
    }
}
