body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
}

header, section, footer {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.wrapper {
    margin: auto;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper > * {
    margin: auto;
}

header {
    background-image: url("../images/template2/Dark-forest-combo-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#menu_bar {
    width: 100%;
    max-width: 1150px;
    position: fixed;
    height: 70px;
    padding-top: 20px;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 100;
}

.colored_bg {
    background-color: seagreen;
    opacity: 0.5;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    align-items: center;
    position: fixed;
}

#logo img {
    width: 50px;
    height: 50px;
    display: block;
}

#menu_bar svg {
    width: 32px;
    height: 30px;
    background: transparent;
    color: lightgrey;
    border: 1px white solid;
    border-radius: 2px;
    padding: 3px 2px;
    margin-right: 15px;
}

#menu_options {
    display: none;
    top: 70px;
    position: relative;
    width: 100%;
    background-color: darkslategray;
    opacity: 1;
    z-index: 100;
}

#menu_options a {
    font-variant: small-caps;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin: auto;
    padding: 5px 10px;
    opacity: 1;
}

#menu_options a:hover {
    color: lightseagreen;     
}

#menu_options div {
    text-align: center;
}

#hamburger {
    position: fixed;
    right: 10px;
    display: block;
}

div.active {
    border-bottom: 1px antiquewhite solid;
}

#carousel1, #carousel2 {
    top: 20vh;
    color: antiquewhite;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

.carousel-item {
    padding-bottom: 30px;
}

.carousel-content {
    padding-top: 15px;
    max-width: 70%;
    margin: auto;
    min-height: 150px;
}

.carousel-slogan {
    border-bottom: 1px solid lightseagreen;
    font-size: 28px;
    font-variant: small-caps;
}

.carousel-indicators li {
    top: 50px;
}

button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: lightseagreen;
    border: 1px solid lightseagreen;
    transition: all 1s;
    font-variant: small-caps;
    font-weight: bold;
}

button:hover  {
    background-color: lightseagreen;
    color: antiquewhite;
}

#about {
    padding-bottom: 5%;
}

#about_logo, #about_content {
    width: 100%;
}

#about_logo {
    padding: 10% 10% 0;
}

#about_content {
    padding: 0 10% 10%;
}

#about_logo img {
    width: 100%;
}

#watch {
    background-image: url('../images/template2/architecture-buildings-city-311012.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#watch * {
    color: antiquewhite;
    width: 100%;
    margin: auto;
}

#watch_icon {
    height: 60vh;
    padding: 100px 0 50px 0;
}

#watch_icon svg {
    height: 100%;
    cursor: pointer;
}

#watch p {
    text-align: center;
    font-size: 2em;
    padding: 5%;
}

.section_header {
    width: 100%;
    padding: 60px 20% 0;
}

.section_header *, #contact h4 {
    text-align: center;
}

.section_header h3, #contact h4 {
    font-variant: small-caps;
    padding: 10px;
}

.section_header p {
    padding-bottom: 20px;
    border-bottom: 1px solid lightseagreen;
}

#expertise .wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

#expertise_content1 {
    border-bottom: 1px solid lightseagreen;
}

#expertise_content1, #expertise_content2, #footer_content {
    display: flex;
    flex-wrap: wrap;
}

.expertise_point {
    padding: 20px;
    width: 100%;
}

.expertise_point * {
    text-align: center;
}

.expertise_point svg {
    margin: 20px auto 15px;
    display: block;
    color: lightseagreen;

}

#teams {
    background-color: #090927;
    color: antiquewhite;
}

#photos {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

#photos * {
    text-align: center;
}

.photo_container {
    padding: 10px;
    border: 1px solid antiquewhite;
    margin: 15px 4%;
    width: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.photo_container:hover {
    transform: rotateY(360deg);
}

.photo_container img {
    width: 100%;
    height: 100%;
}

.photo_caption h5 {
    font-variant: small-caps;
}

#teams p {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#teams button {
    padding: 10px;
    width: 250px;
    margin-bottom: 80px;
}

#gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.gallery_img img {
    width: 100%;
    height: 100%;
}

.gallery_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: #4f3e7a8c;
    transition: all 1s;
    z-index: 1000;
}

.overlay:hover {
    opacity: 1;
}

.overlay a {
    padding-top: 40%;
    display: block;
}

.overlay svg {
    color: antiquewhite;
    font-size: 2.5rem;
    display: block;
    margin: auto;
}

#people_say {
    background-image: url("../images/template2/Dark-forest-combo-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

#carousel2 {
    display: flex;
    flex-wrap: wrap;
}

#carousel2 .carousel-inner, .indicators  {
    width: 100%;
}

.indicators {
    padding-top: 150px;
}

#carousel2 ol {
    align-items: flex-end;
    bottom: 0;
}

#carousel2 li {
    text-indent: 0;
    height: auto;
    width: 80px;
    background: transparent;
    margin-right: 10px;
    margin-left: 10px;
    transition: width 1s;
    position: relative;
}

#carousel2 .carousel-inner > div {
    min-height: 300px;
}

#carousel2 img {
    border-radius: 50%;
    border: 2px solid lightseagreen;
    transition: opacity 1s;
    opacity: 0.5;
}

#carousel2 li.active {
    width: 110px;
}

#carousel2 li.active img {
    width: 110px;
    opacity: 1;
}

#contact_panel, #clients_panel {
    width: 100%;
    padding: 50px;
    margin-top: 0;
}

#contact button {
    margin-top: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}

#contact_form *, #links input {
    border-radius: 0;
    margin: 8px 0;
    border: none;
    transition: all 0.6s;
}

#contact_form *:focus, #links input:focus {
    outline: 2px ridge;
    box-shadow: 5px 5px lightseagreen;
}

#clients, #footer_logo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.client {
    width: 50%;
    padding: 15px;
    text-align: center;
    font-size: 40px;
}

.client svg {
    cursor: pointer;
}

footer {
    background-image: url('../images/template2/footer_pic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    color: antiquewhite;
}

#footer_content {
    padding-top: 20vh;
}

footer h4 {
    font-variant: small-caps;
    width: 100%;
    display: block;
    padding-left: 20%;
}

.footer_part {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#footer_logo img {
    width: 33%;
}

#footer_logo p {
    font-variant: small-caps;
    padding-top: 30%;
    font-size: 1.5rem;
}

#our_studio .footer_icon, #links button {
    width: 20%;
    text-align: center;
}

#our_studio p, #links input {
    display: block;
    width: 77%;
}

#links input {
    border-radius: 0;
    height: 50px;
    margin: 0 3% 0 0;
}

#social_media {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.social_media_item {
    border-radius: 100%;
    border: 1px white solid;
    padding: 5px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
    transition: all 1s;
}

.social_media_item:hover {
    color: lightseagreen;
    border-color: lightseagreen;
}

.social_media_item svg {
    font-size: 20px;
    margin: auto;
}

#copyright {
    text-align: center;
    color: antiquewhite;
    font-variant: small-caps;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px;
}

#copyright p {
    display: inline-block;
    transition: all 1s;
}

#copyright p:not(:last-child) {
    margin-right: 30px;
}

#copyright p:hover {
    color: lightseagreen;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .photo_container {
        width: 42%;
    }
    .gallery_img {
        width: 50%;
    }
    .social_media_item {
        height: 45px;
        width: 45px;
    }
    .social_media_item svg {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-slogan {
        font-size: 40px;
    }
    .carousel-content {
        font-size: 20px;
    }
    #about {
        padding-top: 5%;
    }
    #about_logo {
        width: 50%;
        padding: 0;
    }
    #about_content {
        width: 50%;
        padding: 20px;
    }
    .expertise_point {
        width: 33.3333%;
    }
    .gallery_img {
        width: 33.3333%;
    }
}

@media screen and (min-width: 900px) {
    #hamburger {
        display: none;
    }
    #menu_options {
        display: block;
        margin-right: 12px;
        top: auto;
        position: absolute;
        right: 10px;
        width: auto;
        background: transparent;
    }
    #menu_options div {
        display: inline-block;
    }
    
    #about_logo {
        width: 40%;
        padding: 0;
    }
    #about_content {
        width: 60%;
        padding: 20px;
    }
    .photo_container {
        width: 21%;
        margin: 20px 2%;
    }
    #contact_panel, #clients_panel {
        width: 50%;
    }
    .footer_part {
        width: 33.3333%;
    }
    .social_media_item {
        height: 35px;
        width: 35px;
    }
    .social_media_item svg {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .gallery_img {
        width: 25%;
    }
    .social_media_item {
        height: 35px;
        width: 35px;
    }
    .social_media_item svg {
        font-size: 20px;
    }

}

@media screen and (min-width: 1280px) {
    .gallery_img {
        width: 16.6665%;
    }
}