body {
    background: rgb(243, 237, 234);
    box-sizing: border-box;
    font-family: Verdana;
}

header {
    height: 10em;
}


header h3 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
}

header select {
    margin: auto;
    display: block;
    color: antiquewhite;
    background: black;
    width: 90%;
}

option {
    font-variant: small-caps;
}

#main {
    position: relative;
    width: 100%;
    min-height: 700px;
    height: auto;
}

#main::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url('../images/template1/girl-1312957_1920.jpg');
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#carouselExampleControls {
    padding-top: 80px;
}

.carousel_item_content {
    text-align: center;
    width: 75%;
    margin: auto;
}

.carousel_overtitle {
    font-style: italic;
    padding: 3px 0;
}

.carousel_title, .story_title, h5 {
    font-size: 26px;
    padding: 3px 0;
    font-style: italic;
    font-family: serif;
}

.carousel_text, .story_text {
    padding: 5px 0;
}

button {
    padding: 8px 15px;
    background-color: darkmagenta;
    color: antiquewhite;
    border: transparent solid 1px;
    transition: all 1.5s;
    margin-bottom: 30px;
}

.carousel_item_content button:hover, #main2 button:hover {
    background-color: transparent;
    color: black;
    border: black solid 1px;
}

#main2 button {
    margin: auto;
    display: block;
}

.carousel-indicators {
    bottom: -100px !important;
}

#pictures_frame {
    background-color: lightgray;
    position: relative;
    top: -100px;
    margin: auto;
    border-radius: 10px;
    width: 90%;
}

#pictures_frame img {
    width: 100%;
    padding: 20px;
}

#main_story, .other_story {
    margin: 30px auto;
    width: 90%;
}

#main_story img, .other_story img {
    padding: 10px;
    width: 100%;
    border: 5px white solid;
    outline: 1px lightgray solid;
}

.story_media span {
    color: darkmagenta;
}

#main_story:after {
    content: "";
    height: 2px;
    width: 80%;
    background-color: antiquewhite;
    position: absolute;
    color: antiquewhite;
    right: 0;
    left: 0;
    margin: 20px auto;
}

#separator {
    height: auto;
    width: 100%;
    background: url("../images/template1/Meadow-background.jpg");
}

#separator * {
    display: block;
    margin: auto;
}

#separator_content {
    width: 90%;
    padding: 30px 0;
}

#separator h5 {
    font-style: italic;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#footer_divs > div, #social_media {
    display: flex;
    flex-wrap: wrap;
}

h6, #social_media {
    width: 100%;
}

h6 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

#social_media {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon {
    width: 10%;
}

address, #phone, #email {
    width: 90%;
}

.social {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    background-color: lightgray;
    display: flex;
}

.social:hover {
    cursor: pointer;
}

.social svg {
    padding: 1px;
    display: block;
    margin: auto;
}

#links1 a, #links2 a {
    display: block;
    width: 100%;
    color: darkmagenta;
    text-decoration: none;
}

#contact input {
    background-color: lightgray;
    border-radius: 0;
    border: transparent 1px solid;
    transition: border 1s;
    margin-bottom: 15px;
    width: 60%;
    height: 40px;
}

#contact input:focus {
    border: darkmagenta 1px solid;
}

#form_container {
    flex-basis: 100%;
}