body {
    background: rgb(243, 237, 234);
    box-sizing: border-box;
    font-family: Verdana;
}

#header_wrapper, #main_wrapper {
    margin: auto;
    height: auto;
    min-height: 10em;
    max-width: 1150px;
}

header h3 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    min-width: 20%;
    display: block;
}

header select {
    margin: auto;
    display: block;
    color: antiquewhite;
    background: black;
    width: 90%;
}

header #menu {
    display: none;
    margin: auto 10px auto 0;
}

.dropdown-menu {
    background-color: transparent;
}

.nav-item a {
    color: black;
    font-variant: small-caps;
}

.nav-item a:hover {
    color: darkmagenta !important;
    background-color: transparent;
}

option {
    font-variant: small-caps;
}

#main {
    position: relative;
    width: 100%;
    min-height: 700px;
    height: auto;
}

#main::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url('../images/template1/girl-1312957_1920.jpg');
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#carouselExampleControls {
    padding-top: 80px;
    width: 90%;
}

.carousel_item_content {
    text-align: center;
    width: 75%;
    margin: auto;
}

.carousel_overtitle {
    font-style: italic;
    padding: 3px 0;
}

.carousel_title, .story_title, h5 {
    font-size: 26px;
    padding: 3px 0;
    font-style: italic;
    font-family: serif;
}

.carousel_text, .story_text {
    padding: 5px 0;
}

button {
    padding: 8px 15px;
    background-color: darkmagenta;
    color: antiquewhite;
    border: transparent solid 1px;
    transition: all 1.5s;
    margin-bottom: 30px;
}

.carousel_item_content button:hover, #main2 button:hover {
    background-color: transparent;
    color: black;
    border: black solid 1px;
}

#main2 button {
    margin: auto;
    display: block;
}

.carousel-indicators {
    bottom: -100px !important;
}

#pictures_frame {
    background-color: lightgray;
    position: relative;
    top: -100px;
    margin: auto;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
}

#pictures_frame img {
    width: 100%;
    padding: 20px 20px 0;
}

#pictures_frame img:last-child {
    padding-bottom: 20px;
}

#main_story, .other_story {
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
}

#main_story {
    padding-bottom: 30px;
    border-bottom: 1px solid darkgrey;
}

#main_story img, .other_story img {
    padding: 10px;
    width: 100%;
    border: 5px white solid;
    outline: 1px lightgray solid;
}

#other_stories {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.story_media span {
    color: darkmagenta;
}

#separator {
    height: auto;
    width: 100%;
    background: url("../images/template1/Meadow-background.jpg");
}

#separator * {
    display: block;
    margin: auto;
}

#separator_content {
    width: 90%;
    padding: 30px 0;
}

#separator h5 {
    font-style: italic;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#footer_divs {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#footer_divs > div, #social_media {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
}

h6, #social_media {
    width: 100%;
}

h6 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

#social_media {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon {
    width: 10%;
}

address, #phone, #email {
    width: 90%;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.social {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    background-color: lightgray;
    display: flex;
}

.social:hover {
    cursor: pointer;
}

.social svg {
    padding: 1px;
    display: block;
    margin: auto;
}

#links1 a, #links2 a {
    display: block;
    width: 100%;
    color: darkmagenta;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid darkgrey;
}

#links1 a:last-child, #links2 a:last-child {
    border-bottom: none;
}

#contact input {
    background-color: lightgray;
    border-radius: 0;
    border: transparent 1px solid;
    transition: border 1s;
    margin-bottom: 15px;
    width: 60%;
    height: 40px;
}

#contact input:focus {
    border: darkmagenta 1px solid;
}

#form_container {
    flex-basis: 100%;
}

address, #phone {
    border-bottom: 1px darkgray solid;
}

footer > * {
    max-width: 1150px;
}

#copyright {
    font-size: 10px;
    max-width: 1150px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 319px) {
    #main {
        min-height: 900px;
    }
}

@media screen and (min-width: 320px) and (max-width: 435px) {
    #main {
        min-height: 800px;
    }
}

@media screen and (min-width: 650px) {
    #header_wrapper {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    header h3 {
        padding-left: 20px;
    }
    header select {
        width: 20%;
        margin: auto 10px auto 0;
    }
    .other_story {
        width: 50%;
        padding: 10px 10px 0 10px;
        margin-bottom: 0;
    }
    #footer_divs > div {
        width: 50%;
    }
}

@media screen and (min-width: 832px) {
    #main_story img {
        width: 40%;
    }

    #main_story .story_content {
        width: 60%;
        padding-left: 18px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 992px) {

    header select {
        display: none;
    }
    header #menu {
        display: block;
    }
    #pictures_frame img {
        width: 33.3333%;
        padding: 20px 20px 20px 0;
    }
    
    #pictures_frame img:first-child {
        padding-left: 20px;
    }

    .other_story {
        width: 33.3333%;
    }

    #footer_divs > div {
        width: 25%;
    }

}