body {
    background: #EFF2FF;
    box-sizing: border-box;
    font-family: Verdana;
}

header {
    height: 10em;
}


header h3 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
}

header select {
    margin: auto;
    display: block;
    color: antiquewhite;
    background: black;
    width: 90%;
}

option {
    font-variant: small-caps;
}

#main {
    position: relative;
    width: 100%;
    min-height: 700px;
    height: 100%;
}

#main::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url('../images/template1/girl-1312957_1920.jpg');
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#carouselExampleControls {
    padding-top: 80px;
}

.carousel_item_content {
    text-align: center;
    width: 75%;
    margin: auto;
}

.carousel_overtitle {
    font-style: italic;
    padding: 3px 0;
}

.carousel_title {
    font-size: 26px;
    padding: 3px 0;
    font-style: italic;
    font-family: serif;
}

.carousel_text {
    padding: 5px 0;
}

.carousel_item_content button, #main2 button {
    padding: 8px 15px;
    background-color: darkmagenta;
    color: antiquewhite;
    border: transparent solid 1px;
    transition: all 1.5s;
    margin-bottom: 30px;
}

.carousel_item_content button:hover, #main2 button:hover {
    background-color: transparent;
    color: black;
    border: black solid 1px;
}

#main2 button {
    margin: auto;
    display: block;
}

.carousel-indicators {
    bottom: -100px !important;
}

#pictures_frame {
    background-color: lightgray;
    position: relative;
    top: -100px;
    margin: auto;
    border-radius: 10px;
    width: 90%;
}

#pictures_frame img {
    width: 100%;
    padding: 20px;
}

#main_story {
    margin: auto;
    margin-top: 30px;
    width: 90%;
}

#main_story img {
    padding: 10px;
    width: 100%;
    border: 5px white solid;
    outline: 1px lightgray solid;
}
  