body {
    background-color: mediumseagreen;
}

#menu {
    height: 100px;
}

#menu > ul {
    display: block;
}

#header {
    background-color: yellow;
    height: 200px;
    width: 100%;
    text-align: center;
}

#content {
    height: 200px;
}

#links {
    height: 200px;
}

#links > a {
    display: block;
}

#footer {
    height: 100px;
}