body {
    background-color: black;
    font-family: "Century Schoolbook L";
    color: antiquewhite;
}

#menu {
    height: 100px;
}

#menu li {
    display: inline-block;
    padding-right: 5px;
}

#menu li:last-child {
    padding-right: 0px;
}

.title, .menu-container {
    text-align: center;
    border: 1px antiquewhite solid;
    display: inline-block;
}

.title, ul {
    padding: 16px;
    margin: 0px;
}

.title {
    float: left;
    font-variant-caps: all-small-caps;
}

.menu-container {
    float: right;
}

#header {
    background-image: url("Assets/blue-2702172_1920.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links {
    min-height: 100px;
}

#links > a {
    display: block;
}

#footer {
    min-height: 80px;
    padding-top: 20px;
    text-align: center;
}

form {
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block; 
    padding: 20px 25px 20px 20px; 
}

form div {
    display: flex;
    flex-direction: column;
}

form div * {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 3px;
}

textarea {
    min-width: 245px;
    min-height: 200px;
}

input[type="antybot"] {
    display: none;
}
